body {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #7E879F;
  cursor: default;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

li {
  text-transform: capitalize;
  list-style: none;
  font-family: 'Brandon Grotesque', 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 26px;
}

a {
  text-decoration: none;
  color: #436DD8;
  font-family: 'Proxima Nova', 'Roboto';
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.47px;
}

button {
  height: 55px;
  width: 190px;
  border: none;
  border-radius: 4px;
  background: -webkit-gradient(linear, right top, left top, from(#0565FF), to(#0442DF));
  background: linear-gradient(270deg, #0565FF 0%, #0442DF 100%);
  -webkit-box-shadow: 0 3px 10px 0 rgba(67, 109, 216, 0.25);
          box-shadow: 0 3px 10px 0 rgba(67, 109, 216, 0.25);
  color: #ffffff;
  font-family: "Proxima Nova", 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.65px;
  line-height: 16px;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  color: #436DD8;
  font-family: "Brandon Grotesque", sans-serif;
}

main {
  position: relative;
  height: 870px;
}

main .bg-left {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 562px;
  width: 280.08px;
  opacity: 0.8;
  background-image: url("../images/bg_left.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

main .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 628.44px;
  width: 304.09px;
  opacity: 0.8;
  background-image: url("../images/bg_right.png");
  background-size: cover;
  z-index: -1;
}

main .banner-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
}

main .banner-area h1 {
  font-size: 46px;
  font-weight: bold;
  line-height: 60px;
  margin: 20px 0;
}

main .banner-area p {
  font-family: "Proxima Nova", sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin: 30px 0 40px;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top .nav-primary {
  padding: 78px 0;
}

.header-top .nav-primary .nav-primary-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  padding-left: 0;
}

.header-top .nav-primary .nav-primary-ul li {
  margin-left: 50px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.header-top .nav-primary .nav-primary-ul :nth-child(1) {
  margin-left: 0;
}

.header-top .nav-primary .nav-primary-ul li:hover {
  color: #436DD8;
  border-color: #F66385;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.title-wrap {
  max-width: 550px;
  margin: 100px auto;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
}

.s1-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */