.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-primary {
    padding: 78px 0;
  }
}

.nav-ul {
  display: flex;
  margin-left: 0;
  padding-left: 0;

  li {
    margin-left: 50px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: .2s;
  }

  :nth-child(1) {
    margin-left: 0;
  }

  li:hover {
    color: $blue;
    border-color: #F66385;
  }
}