header {
  width: 100%;
  max-width: 1920px;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 2;

  .header-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;

    .nav-primary {
      padding: 70px 0;

      @media(max-width: 1024px) {
        padding: 37px 0;
      }

      @media(max-width: 768px) {
        padding: 30px 0;
      }

      .burger {
        display: none;
        color: $white;
        cursor: pointer;

        @media(max-width: 1024px) {
          display: block;
        }

        @media(max-width: 768px) {
          height: 20px;
          width: 26px;
        }
      }
    }
  }
}

.nav-ul {
  display: flex;
  margin-left: 0;
  padding-left: 0;

  li {
    font-size: 18px;
    margin-left: 50px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: .2s;
  }

  :nth-child(1) {
    margin-left: 0;
  }

  li:hover {
    color: $blue;
    border-color: $hoverMenu;
  }
}

.header-ul {
  @media(max-width: 1024px) {
    display: none;
  }
}