main {
  position: relative;
  height: 870px;

  @media(max-width:1024px) {
    height: 100%;
  }

  .bg-left {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 65%;
    width: 280px;
    opacity: 0.8;
    background-image: url('../images/bg_left.png');
    background-size: cover;
    background-position: center;
    z-index: 0;

    @media(max-width: 1024px) {
      display: none;
    }
  }

  .bg-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 80%;
    width: 15%;
    opacity: 0.8;
    z-index: -1;

    @media(max-width: 1024px) {
      width: 20%;
      height: 100%;
    }
  }

  .banner-area {
    position: relative;
    padding: 60px 0;

    h1 {
      font-size: 46px;
      font-weight: bold;
      line-height: 60px;
      margin: 20px 0;
      width: 50%;

      @media(max-width: 1024px) {
        width: 100%;
      }
    }

    p {
      font-family: "Proxima Nova", sans-serif;
      font-size: 18px;
      line-height: 28px;
      margin: 30px 0 40px;
      width: 50%;
    }

    .hero-banner {
      position: absolute;
      top: 50px;
      left: 50%;

      img {
        width: 100%;
      }

      @media(max-width: 1024px) {
        top: 50%;
      }
    }
  }
}