.modal-bg {
  // display: block;
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: $white;
  background-image: url('../images/bg/bg_mobile_nav.png');
  background-size: 100% 50%;
  background-repeat: no-repeat;
  opacity: .9;
  z-index: 3;

  .modal-container {
    max-width: 75vw;
    margin: 0 auto;
    padding: 30px 0;
    height: 50%;




    .modal-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .burger-exit {
        cursor: pointer;
      }
    }

    .modal-nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      height: 60%;
      color: $white;
      // padding-top: 50px;

      li {
        margin: 0;
      }
    }
  }


}